@import './../utility/colors.css';

.cards {
  display: flex;
  gap: 10px;
  flex-wrap: wrap;
}

.card {
  height: fit-content;
  min-width: 280px;
  border: 1px solid var(--p-color-05);
  background: var(--s-color-01);
  padding: 16px;
  box-shadow: 0px 1px 2px rgba(0, 0, 0, .25);
}

.card-title {
  margin-bottom: 16px;
}

.card-wrapper {
  border: 1px solid var(--s-color-06);
  background: var(--s-color-01);
  box-shadow: 0px 1px 2px rgba(0, 0, 0, .25);
  margin-bottom: 8px;
  padding: 8px;
  transition: .3s;
}

.card-wrapper:hover {
  background: var(--s-color-02);
  box-shadow: 0px 3px 2px rgba(0, 0, 0, .25);
  transform: translate3d(0,-2px,0);
}

.card-config {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 8px;
}

.card-status {
  border-radius: 5px;
  padding: 3px 6px;
  display: block;
}

.high {
  background: var(--red-01);
  color: var(--s-color-01);
}

.medium {
  background: var(--yellow-01);
  color: var(--color-p3);
}

.low {
  background:  var(--green-02);
  color: var(color-p1);
}

.card-description {
  margin-bottom: 16px;
  line-height: 1.2rem;
}

@media (max-width:360px) {
  .cards {
    margin-bottom: 20px;
  }

  .card {
    min-width: 250px;
  }
}