.name-kanban {
  display: inline-block;
  transition: .3s;
  cursor: pointer;
}

.name-kanban:hover {
  background: var(--s-color-06);
  padding: 10px;
  border-radius: 5px;
}


.name-kanban:focus {
  color: var(--p-color-03);
  display: inline-block;
  padding: 10px;
  outline: none;
  border-radius: 5px;
  background: var(--s-color-06);
  cursor: text;
}

.cards {
  display: flex;
  gap: 10px;
  overflow-x: auto;
}


.card {
  height: fit-content;
  border: 1px solid var(--p-color-05);
  background: var(--s-color-01);
  border-radius: 5px;
  padding: 16px;
  box-shadow: 0px 1px 2px rgba(0, 0, 0, .25);
}

.card-title {
  margin-bottom: 16px;
}

.card-content {
  border-radius: 5px;
  border: 1px solid var(--s-color-06);
  background: var(--s-color-01);
  box-shadow: 0px 1px 2px rgba(0, 0, 0, .25);
  min-width: 250px;
  margin-bottom: 8px;
  padding: 8px;
}



.card-config {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 8px;
}

.card-status {
  border-radius: 5px;
  padding: 3px 6px;
  display: block;
}

.card-status.high {
  background: var(--red-01);
}

.card-status.medium {
  background: var(--yellow-01);
}

.card-status.low {
  background:  var(--green-02);
}

.card-description {
  margin-bottom: 16px;
  
  line-height: 1.2rem;
}


.add-btn {
  width:100%;
  padding: 8px;

  border: 1px solid var(--p-color-05);
  box-shadow: 0px 1px 2px rgba(0, 0, 0, .25);
  border-radius: 5px;
  display: flex;
  align-items: center;
  gap: 4px;
}