.open-btn {
  position: relative;
  transition: .3s;
  border-radius: 5px;
}

.open-btn:hover {
  background: var(--s-color-04);
  padding: 4px;
}
.open-btn.active .card-options {
  display: block;
}

.card-options {
  position: absolute;
  animation: scale .3s forwards;
  display:none;
  top: 20px;
  padding: 8px;
  width: 80px;
  background: var(--s-color-01);
  border: 1px solid var(--s-color-03);
  box-shadow: 2px 1px 1px rgba(0, 0, 0, 0.05);
  transition: .3s;
}

.card-options li + li {
  margin-top: 4px;
}

.card-options li + li {
  border-top: 1px solid var(--s-color-02);
  padding-top:4px;
}

.card-options a {
 text-align: center;
 padding: 4px;
 border-radius: 5px;
}

.card-options a:hover {
  background: var(--s-color-02);
}


