.card-modal.active {
  display: flex;
}


.card-modal {
  height: 100vh;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 100;
  justify-content: center;
  align-items: center;
  display: none;
  background-color: rgba(0, 0, 0, 0.5);
}

.modal-content {
  position: relative;
  padding: 16px;
  border: 1px solid var(--p-color-02);
  background: var(--s-color-01);
  box-shadow: 0px 1px 2px rgba(0, 0, 0, .25);
}

.modal-content h3 {
  display: flex;
  justify-content: space-between;
  margin-bottom: 32px;
}

.modal-form > label{
  display: block;
  margin-bottom: 8px;
}


input#card-name {
  max-width: 300px;
  width: 250px;
  padding: 8px;
  border: 1px solid var(--p-color-02);
  box-shadow: 0px 1px 2px rgba(0, 0, 0, .25);
  margin-bottom: 16px;
}

input#card-name:focus {
  background-color:var(--s-color-03);
}

select#card-priority {
  border: 1px solid var(--p-color-02);
  box-shadow: 0px 1px 2px rgba(0, 0, 0, .25);
  padding: 6px;
  margin: 0;
}

.modal-wrapper {
  display: flex;
  justify-content: space-between;
}

.modal-close-btn,
.modal-submit-btn {
  border: 1px solid var(--p-color-02);
  box-shadow: 0px 1px 2px rgba(0, 0, 0, .25);
  padding: 4px 8px;
}

.modal-close-btn {
  position: absolute;
  right: -15px;
  top: -20px;
  background: var(--s-color-01);
}

