body {
  background: var(--s-color-02);
}

button {
  border: none;
  background: none;
  cursor: pointer;
}

body,
h1,
h2,
h3,
p,
ul,
li,
a,
label {
  margin: 0;
  padding: 0;
}

ul,
li {
  list-style: none;
  text-decoration: none;
}

a {
  text-decoration: none;
}

img {
  display: block;
  max-width: 100%;
}

.container {
  max-width: 1400px;
  margin: 0 auto;
  padding: 0 20px;
  padding-bottom: 32px;
}

.b-r5 {
  border-radius: 5px;
}
