.header-bg {
  background: linear-gradient(#191919 0%, #0E0E0E 100%);
  margin-bottom: 64px;
}

.nav-content {
  padding: 16px 20px;
}

@media (max-width:360px) {
  .header-bg {
    margin-bottom: 16px;
  }
}