.main-title {
  display: flex;
  align-items: center;
  margin-bottom: 64px;
  gap:8px;
}

.main-title > span {
  display: flex;
  align-items: center;
  gap:8px;
}

.main-title span::before{
  content: "";
  display: flex;
  width: 2px;
  height: 64px;
  background: var(--p-color-06);
}

.name-kanban {
  margin-bottom: 32px;
}