.font-1-xs {
  font: 400 .5rem/0.5rem "Roboto", sans-serif;
}

.font-1-s {
  font: 400 .75rem/0.85rem "Roboto", sans-serif;
}

.font-1-m {
  font: 400 1rem/1rem "Roboto", sans-serif;
}

.font-1-x {
  font: 400 1.5rem/1rem "Roboto", sans-serif;
}

.font-2-x {
  font: 500 1.5rem/1rem "Poppins", sans-serif;
}

.font-2-xl {
  font: 500 4rem/3rem "Poppins", sans-serif;
}
